<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="informationMapper">
	<resultMap id="InformationResultSet" type="Information">
		<result column="FESTIVAL_NO" property="festivalNo" />
		<result column="MEM_ID" property="memId" />
		<result column="LOCAL_CODE" property="localCode" />
		<result column="FESTIVAL_NAME" property="festivalName" />
		<result column="OPEN_DATE" property="openDate" />
		<result column="CLOSE_DATE" property="closeDate" />
		<result column="FES_LIKE" property="fesLike" />
		<result column="FES_DESCRIPTION" property="fesDescription"/>
		<result column="FES_ADD" property="fesAdd" />
		<result column="FES_IMAGE" property="fesImage"/>
		<result column="THEME_CODE" property="themeCode"/>
	</resultMap>
	

	<resultMap id="ThemeResultSet" type="Theme">
		<result column="FESTIVAL_NO" property="festivalNo" />
		<result column="THEME_CODE" property="themeCode" />
	</resultMap>
	
  <select id="selectFestivalsOrderByDate" resultMap="InformationResultSet">
        SELECT * FROM FESTIVAL
        WHERE CLOSE_DATE >= SYSDATE
        ORDER BY OPEN_DATE ASC
    </select>
    
     <select id="selectSortLike" resultMap="InformationResultSet">
        SELECT * FROM FESTIVAL 
        WHERE CLOSE_DATE >= SYSDATE
        ORDER BY FES_LIKE DESC
    </select>
    
	<select id="getSearchFestival" resultMap="InformationResultSet" parameterType="Theme">
		SELECT *
		FROM FESTIVAL JOIN THEME_OF_FESTIVAL
		USING(FESTIVAL_NO)
		WHERE TO_CHAR(OPEN_DATE, 'MM') = #{searchDate} 
		AND  LOCAL_CODE = #{searchArea} AND THEME_CODE = #{searchCate}
		AND CLOSE_DATE >= SYSDATE 
    </select> 
    
    <select id="getLikeTopFestival" resultMap="InformationResultSet" >
		    SELECT *
		FROM (
		    SELECT *
		    FROM FESTIVAL
		    WHERE EXTRACT(MONTH FROM OPEN_DATE) = EXTRACT(MONTH FROM SYSDATE)
		    AND CLOSE_DATE >= SYSDATE 
		    ORDER BY FES_LIKE DESC
		)
		WHERE ROWNUM &lt;= 4
    </select>
    
    <select id="selectDetailFestival" resultMap="InformationResultSet">
    	SELECT * FROM FESTIVAL
    	WHERE FESTIVAL_NO = #{festivalNo}
    </select>
    <select id="getFestivalSearch" resultMap="InformationResultSet">
    	  SELECT * FROM FESTIVAL
        WHERE FESTIVAL_NAME LIKE '%' || #{festivalName} || '%'
    </select>
    
    
    
    <update id="toggleLike" >
     UPDATE FESTIVAL
    	SET FES_LIKE = FES_LIKE + CASE WHEN #{isLiked} 
    	THEN 1 ELSE -1 END
    	WHERE FESTIVAL_NO = #{festivalNo}
    </update>
    
  
    
    
    
    
    
    
    
</mapper>