<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reviewMapper">
	<resultMap id = "ReviewResultSet" type="Review">
		<result column="RV_NO" property="rvNo"/>
		<result column="FESTIVAL_NO" property="festivalNo"/>
		<result column="MEM_ID" property="memId"/>
		<result column="RV_TITLE" property="rvTitle"/>
		<result column="RV_CONTENT" property="rvContent"/>
		<result column="RV_IMG" property="rvImg"/>
		<result column="RV_DATE" property="rvDate"/>
		<result column="RV_COUNT" property="rvCount"/>
		<result column="RV_STATUS" property="status"/>
		
	</resultMap> 
	
	
	<select id="getBoardList" resultMap="ReviewResultSet">
    SELECT *
    FROM RV 
    JOIN FESTIVAL ON RV.FESTIVAL_NO = FESTIVAL.FESTIVAL_NO
    WHERE FESTIVAL.FESTIVAL_NO = #{festivalNo} AND RV_STATUS = 'Y'
	</select>
	
	<select id="selectListCount" resultType="_int">
 			SELECT COUNT(*)
 			FROM RV
 			WHERE FESTIVAL_NO = #{festivalNo} AND RV_STATUS = 'Y'	
	</select>
	
	<insert id="insertReview">
				INSERT INTO RV(RV_NO
							 , FESTIVAL_NO
							 , MEM_ID
							 , RV_TITLE
							 , RV_CONTENT
							 , RV_IMG
							 , RV_COUNT
							 , RV_DATE
							 , RV_STATUS
							 )
			VALUES ( RNO.NEXTVAL
				   , #{festivalNo}
				   , #{memId}
				   , #{rvTitle}
				   , #{rvContent}
				   , #{rvImg}				   
				   , 0
				   , SYSDATE
				   , 'Y'
				  	)
	</insert>
	
	<select id="reviewDetail" resultMap="ReviewResultSet">
			SELECT *
 			FROM RV
 			WHERE RV_NO = #{rvNo} AND RV_STATUS = 'Y'
	</select>
	
	<update id="updateReview">
		UPDATE RV
 		SET RV_TITLE = #{rvTitle},
 		RV_CONTENT = #{rvContent},
 		RV_DATE = SYSDATE
		WHERE RV_NO = #{rvNo}
	</update>
		
	<update id="deletePost">
	UPDATE RV
	SET  RV_STATUS = 'N'
	WHERE RV_NO = #{rvNo}
	</update>
	
	
	<select id="searchByWriter" resultMap="ReviewResultSet">
		SELECT * FROM RV
		 WHERE (MEM_ID  LIKE '%'|| #{keyword} ||'%') AND FESTIVAL_NO = #{festivalNo}
	
	</select>
	
	<select id="searchByTitle" resultMap="ReviewResultSet">
			
			SELECT * FROM RV
		    WHERE (RV_TITLE LIKE '%'|| #{keyword} ||'%') AND FESTIVAL_NO = #{festivalNo}
	
	</select>
	
	<select id="searchByContent" resultMap="ReviewResultSet">
			SELECT * FROM RV
		    WHERE (RV_CONTENT LIKE '%'|| #{keyword} ||'%') AND FESTIVAL_NO = #{festivalNo}
	</select>

			
</mapper>


