<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
		 <setting name="logImpl" value="STDOUT_LOGGING"/>
	</settings>
	
	<typeAliases>
	 	<typeAlias type="com.feswork.member.model.vo.Member" alias="Member" />
	 	<typeAlias type="com.feswork.information.model.vo.Information" alias="Information"/>
	 	<typeAlias type="com.feswork.theme.model.vo.Theme" alias="Theme" />
	 	<typeAlias type="com.feswork.review.model.vo.Review" alias="Review"/>
	 </typeAliases>
	
	<environments default="develop">
		<environment id="develop">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe" />
				<property name="username" value="C##FESWORK" />
				<property name="password" value="FESWORK"/>
			</dataSource>
		</environment>
	</environments>

	<mappers>
   		 <mapper resource="/mapper/information-mapper.xml"/>
   		 <mapper resource="/mapper/member-mapper.xml"/>
   		  <mapper resource="/mapper/review-mapper.xml"/>
	</mappers>
</configuration>